div.box{width:35%;border:1px solid pink;margin-left:10px; padding:20px;float:left}
input,select,textarea{margin:3px;padding:5px;border-radius:2px;border:1px solid pink}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   padding:20px;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}